html * {
  font-family: 'GeneralSans-Regular';
  color: #3c3c3d;
}

body {
  line-height: 1.3;
}

h1, h2, h3, h4, h5 {
  font-family: 'GeneralSans-Bold';
}

h1 {
  margin: 0 1rem 0 0;
  line-height: 1.1;
}

p {
  word-wrap: break-word;
}

#masthead {
  height: 0;
}

.site-branding {
  float: left;
  margin: 10px;
  display: none;
}

.site-title {
  margin-left: 50px;
  font-size: 24px;
  line-height: 80px;
  display: none;
}

.site-title a,
.site-title a:visited {
  text-decoration: none;
  color: #3c3c3d;
  font-family: 'GeneralSans-Bold' !important;
}

#main-navigation {
  display: block;
  width: 255px;
  float: right;
}

#primary-menu {
  font-size: 1.2em;
  float: right;
  display: inline;
  margin-right: 1em;
  list-style: none;
}

#primary-menu li {
  padding: 0 10px;
  background-color: #ffe300;
  width: auto;
  float: left;
}

#primary-menu li a {
  color: black;
}

.content-area {
  height: 0;
}

a, a:visited, a:hover, a:focus, a:active {
  color: #115c95;
}

a.close-button {
  position: absolute;
  top: 20px;
  right: 4%;
  padding-right: 5px;
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  font-weight: bold;
  color: #3c3c3d;
}

#primary #content {
  background: rgba(255,255,255,0.8);
  position: relative;
}

.loader {
  margin: 3rem 0;
}

.wp-editor-tools {
  display: none;
}

#poi-table th.lon, #poi-table th.lat,
#poi-table td.lon, #poi-table td.lat {
  display: none;
}

#poi-table td.category span {
  padding: 2px;
  color: white;
}

.home #primary #content {
  display: inline-block;
  background: transparent;
}

#primary #content .header {
  line-height: 2;
  padding: 0 40px;
  width: 94%;
}

#primary #content .header p {
  margin-top: 0;
}

.articles article {
  width: 49%;
  float: left;
  background-color: rgba(255,255,255,0.8);
  padding: 40px;
  margin-bottom: 20px;
}

.articles article:first-of-type {
  margin-right: 2%;
}

article.type-mapping,
article.type-poi .entry-title,
article.type-poi .entry-content p {
  padding: 0 20px 20px;
}

@media screen and (min-width: 768px) {
  #primary .site-content {
    padding-top: 1rem;
  }
  #primary #content {
    margin: 2rem 0 0 2rem;
    width: 900px;
  }
  #primary #content.about-page {
    background: transparent;
  }
  .about-page .close-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .site-title {
    line-height: 1;
    padding: 5px;
  }
  #primary #content {
    background: rgba(255,255,255,1);
  }
  #poi-table th.date, #poi-table td.date {
    display: none;
  }
}