#map {
  width: 100%;
  height: 100%;
	top: 0;
	left: auto;
	position: fixed;
	overflow: hidden;
	z-index: -1;
	background-color: black;
}

.ol-zoom {
	top: 6em !important;
	left: auto !important;
	right: 1em;
}

.custom-control {
  left: auto !important;
  right: 1em;
}

.zoom-extent {
  top: 10em !important;
}

.open-link.button-0 {
  top: 12em !important;
}
.open-link.button-1 {
  top: 14em !important;
}

.paint-line {
	top: 16em !important;
	background-color: var(--ol-background-color) !important;
	border-radius: 0 !important;
}
.paint-line input {
	margin: 2px;
}
.paint-line label {
	padding: 5px;
}


.zoom-extent button, .open-link button {
	width: auto !important;
	padding: 5px !important;
}

.ol-touch .ol-control button {
  font-size: 1.2em !important;
}

.ol-control button {
	border-radius: 0 !important;
	cursor: pointer;
}

/*
* Popup
*/
.ol-popup {
	position: absolute;
	background-color: white;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 230px;
	z-index: 2;
	font-size: 13px;
	padding: 5px;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}

.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

@media screen and (max-width: 768px) {
	.ol-zoom {
		display: none;
	}
}